@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: 'Nunito', 'Noto Sans', sans-serif;
    }

    :root, #__nuxt, body {
        @apply h-full w-full bg-primary-50/80 text-gray-800;
    }
}